<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <style type="text/css">
        .title{
            color:#c0c0c0;
            text-decoration:none;
        }
        a:hover {
            color:cornflowerblue!important;
            text-decoration:underline!important;
        }

        .photo,.blog_body{
            float:left;
        }
        .blog_body{
            margin-left: 50px;
            margin-top:70px;
        }
        .photo{
            margin-left:120px;
            margin-top:50px;
        }
    </style>
</head>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>