{% extends "base.html" %}
{% block content %}
<body style="background:url(/static/images/3.jpg);color:#fff;">
    <div class="photo"><img src="/static/images/sports.jpeg"></div>
    {% for blog in blogs %}
        <div class="blog_body">
        <div class="blog_title"><a class="title" href="/blog/detail/?id={{ blog.id }}">{{ blog.caption }}</a>
        </div>
        <div class="blog_info">
        <ul class="blog_info_list">
            <li>分类：{{ blog.classifation }}</li>
            <li>发表时间：{{ blog.publish_time|date:"Y-m-d H:i" }}</li>
            <li>标签：
                {% for tag in blog.tags.all %}
                    {{ tag.tag_name }}
                {% endfor %}
            </li>
        </ul>
        </div>
        </div>
    {% endfor %}
{% endblock %}