<!DOCTYPE HTML>
<html>
<head>
<title>My Blog</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Darx Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="../static/js/jquery.min.js"></script>
</head>
<body>
<!-- header -->

<!-- header -->
<!-- content -->
<div class="content-top">
	<div class="container">
		<div class="amazing">
			<div class="col-md-3 amaze">
				<div class="ama-top">
					<h3>欢迎来到德莱联盟</h3>
				</div>
				<div class="portfolio-wrapper ">
				<div class="ama-bottom">
					<a href="/blog/Python"  class="b-link-stripe b-animate-go  thickbox play-icon">
						<img src="../static/images/watch.jpeg" class="img-responsive" alt="" />

						<ul class="social-ic">
							<li class="down"><p>并不是Constantin</p></li>
						</ul>
					</a>
				</div>
				</div>
			</div>
			<div class="col-md-3 amaze">
				<div class="portfolio-wrapper ">
				<div class="ama-top">
					<a href="/blog/beauty"  class="b-link-stripe b-animate-go  thickbox play-icon">
						<img src="../static/images/1.jpg" class="img-responsive" alt="" />
						<ul class="social-ic">
							<li class="down"><p>sports&beauty</p></li>
						</ul>
					</a>
				</div>
				</div>
				<div class="portfolio-wrapper ">

				</div>
			</div>
			<div class="col-md-3 amaze">
			<div class="portfolio-wrapper ">
				<div class="ama-top">
					<a href="/blog/Linux"  class="b-link-stripe b-animate-go  thickbox play-icon">
						<img src="../static/images/journey.jpeg" class="img-responsive" alt="" />
						<ul class="social-ic1">
							<li class="down"><p>load to<br>linux</p></li>
						</ul>
					</a>
				</div>
				</div>
			</div>
			<div class="col-md-3 amaze">
			<div class="portfolio-wrapper ">
				<div class="ama-top">
					<a href="/blog/Ios"  class="b-link-stripe b-animate-go  thickbox play-icon">
						<img src="../static/images/coffee.jpeg" class="img-responsive" alt="" />
						<ul class="social-ic">
							<li class="down"><p>Mac<br>time</p></li>
						</ul>
					</a>
				</div>
				</div>
				<div class="ama-bottom">
					<h3>要这众生<br>都明白我意<br>要那诸佛<br>都烟消云散<br></h3>
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-3 amaze">
			<div class="portfolio-wrapper ">
				<div class="ama-bottom">
					<a href="/blog/Fo"  class="b-link-stripe b-animate-go  thickbox play-icon">
						<img src="../static/images/fo.jpeg" class="img-responsive" alt="" />
						<ul class="social-ic">
							<li class="down"><p>卍</p></li>
						</ul>
					</a>
				</div>
			</div>
			</div>
			<div class="col-md-3 amaze">
				<div class="ama-bottom">
					<h3>从今天起<br>做一个幸福的人<br>
                       <br>喂马 劈柴<br>周游世界</h3>
				</div>
			</div>
			<div class="col-md-6 amaze-2">
			<div class="portfolio-wrapper ">
				<div class="ama-bottom">
					<a   class="b-link-stripe b-animate-go  thickbox play-icon">
						<img src="../static/images/2.jpg" class="img-responsive" alt="" />
						<ul class="social-ic">
							<li class="down"><p>Личный кабинет<br>(你点不进去的)</p></li>
						</ul>
					</a>
				</div>
			</div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-3 amaze">
			<div class="portfolio-wrapper ">
				<div class="ama-bottom">
					<a href="/blog/Music"  class="b-link-stripe b-animate-go  thickbox play-icon">
						<img src="../static/images/music.jpeg" class="img-responsive" alt="" />
						<ul class="social-ic1">
							<li class="down"><p>獨家记忆</p></li>
						</ul>
					</a>
				</div>
				</div>
			</div>
			<div class="col-md-3 amaze">
			<div class="portfolio-wrapper ">
				<div class="ama-bottom">
					<a href="/blog/Django"  class="b-link-stripe b-animate-go  thickbox play-icon">
						<img src="../static/images/xs.jpeg" class="img-responsive" alt="" />
						<ul class="social-ic">
							<li class="down"><p>python框架王座<br>django</p></li>
						</ul>
					</a>
				</div>
				</div>

			</div>
			<div class="col-md-6 amaze-2">
			<div class="col-md-6 amaze-1">
			<div class="portfolio-wrapper ">
				<div class="ama-bottom">
					<a href="/blog/Game"  class="b-link-stripe b-animate-go  thickbox play-icon">
						<img src="../static/images/yasuo.jpg" class="img-responsive" alt="" />
						<ul class="social-ic">
							<li class="down"><p>the last breath<br>はさき</p></li>
						</ul>
					</a>
				</div>
				</div>
			</div>
			<div class="col-md-6 amaze-1">

			</div>

			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- content -->
<!-- footer -->

<!-- footer -->
</body>
</html>